@{
    ViewData["Title"] = "Home Page";
}

<section>
    @await Component.InvokeAsync("NoticiasEmDestaque", new { view = "Carousel" })
</section>

<section>
    @await Component.InvokeAsync("UltimasNoticias")
</section>
