@model IEnumerable<CanalNoticias.Models.Noticia>
<ul>
    @foreach (var item in Model)
    {
        <li class="item_list" style="width: 350px;">
            <a asp-area="" asp-controller="Noticia" asp-action="Details" asp-route-tituloURL="@item.TituloURL">
                <div class="content_small">
                    <div class="content_small_left">
                        <img alt="" src="../images/@item.FotoPrincipal">
                    </div>
                    <div class="content_small_right">
                        @item.Titulo
                    </div>
                </div>
            </a>
        </li>
    }
</ul>
